{{!
    @template core_course/hemis-resource

    This template renders an course card item loading placeholder for multiple blocks.

    Example context (json):
    {}
}}
<li id="section-1" class="section course-section main  clearfix

                            " data-sectionid="1" data-sectionreturnid="" data-for="section" data-id="679"
    data-number="1" data-indexed="true">
    <div class="section-item">
        <div class="course-section-header d-flex" data-for="section_title" data-id="679" data-number="1">
            <div class="bulkselect align-self-center d-none" data-for="sectionBulkSelect">
                <input id="sectionCheckbox679" type="checkbox" data-id="679" data-action="toggleSelectionSection"
                       data-bulkcheckbox="1">
                <label class="sr-only" for="sectionCheckbox679">
                    Select section Resources
                </label>
            </div>
            <div class="d-flex align-items-start position-relative">
                <a role="button" data-toggle="collapse" data-for="sectiontoggler" href="#coursecontentcollapse1"
                   id="collapssesection1" aria-expanded="true" aria-controls="coursecontentcollapse1" class="btn btn-icon mr-3 icons-collapse-expand justify-content-center
                                                            " aria-label="Resources">
                                                    <span class="expanded-icon icon-no-margin p-2" title="Collapse">
                                                        <i class="icon fa fa-chevron-down fa-fw "
                                                           aria-hidden="true"></i>
                                                    </span>
                    <span class="collapsed-icon icon-no-margin p-2" title="Expand">
                                                        <span class="dir-rtl-hide"><i
                                                            class="icon fa fa-chevron-right fa-fw "
                                                            aria-hidden="true"></i></span>
                                                        <span class="dir-ltr-hide"><i
                                                            class="icon fa fa-chevron-left fa-fw "
                                                            aria-hidden="true"></i></span>
                                                    </span>
                </a>
                <h3 class="h4 sectionname course-content-item d-flex align-self-stretch align-items-center mb-0"
                    id="sectionid-679-title" data-for="section_title" data-id="679" data-number="1">
                    <a href="#">Resources</a>
                </h3>
            </div>
            <div data-region="sectionbadges" class="sectionbadges d-flex align-items-center">
            </div>
        </div>
        <div id="coursecontentcollapse1" class="content course-content-item-content collapse show">
            <div class=" my-3" data-for="sectioninfo">
                <div class="section_availability">
                </div>
            </div>
            <ul class="section m-0 p-0 img-text  d-block " data-for="cmlist">
                {{#resources}}
                    {{#files}}
                    <li class="activity activity-wrapper resource modtype_resource  hasinfo " id="module-680"
                        data-for="cmitem" data-id="680" data-indexed="true">
                        <div class="activity-item focus-control " data-activityname="demo1" data-region="activity-card">
                            <div class="activity-grid ">
                                <div
                                    class="activity-icon activityiconcontainer smaller content  courseicon align-self-start mr-2">
                                    <img
                                        src="/theme/image.php/boost/core/1721584926/f/pdf?filtericon=1"
                                        class="activityicon " data-region="activity-icon" data-id="680" alt="">
                                </div>
                                <div class="activity-name-area activity-instance d-flex flex-column mr-2">
                                    <div class="activitytitle  modtype_resource position-relative align-self-start">
                                        <div class="activityname">
                                            <a href={{url}}
                                               class=" aalink stretched-link" onclick=""> <span
                                                class="instancename">{{name}}<span class="accesshide "> File</span></span>
                                            </a>
                                            <span class="ml-1">
                                                                                                                <span
                                                                                                                    class="activitybadge badge rounded-pill badge-none">
                                                                                                                        PDF
                                                                                                                </span>
                                                                                                            </span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </li>
                    {{/files}}
                {{/resources}}
            </ul>

        </div>
    </div>

</li>
